<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.collection_select :client_id, Client.all, :id, :name %>
    <%= link_to "Add New Client", new_client_path %>
  </div>

  <div>
    <%= form.label :deadline, style: "display: block" %>
    <%= form.date_field :deadline %>
  </div>

  <div>
    <%= form.label :jobsite, style: "display: block" %>
    <%= form.collection_select :jobsite, Address.all, :id, :formatted %>
    <%= link_to "Add New Address", new_address_path %>
  </div>

  <div>
    <%= form.label :line_item_id, style: "display: block" %>
    <%= form.text_field :line_item_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
