<div id="<%= dom_id invoice %>">
  <p>
    <strong>Client:</strong>
    <%= invoice.client_id %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= invoice.deadline %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= invoice.address_id %>
  </p>

  <p>
    <strong>Line item:</strong>
    <%= invoice.line_item_id %>
  </p>

</div>
